.right-top{
  right: 0;
  position: absolute;
}
.left-top{
  left: 0;
  position: absolute;
}
.right-bottom{
  bottom: 0;
  right: 0;
  position: absolute;
}
.left-bottom{
  bottom: 0;
  left: 0;
  position: absolute;
}
.middle{
  position: fixed;
  top: 50%;
  left: 50%;
}

